<!DOCTYPE html>
<html>
  <head>
		<link rel="stylesheet" href="/style.css">
    <meta charset="utf-8" />
    <title>Change it Up</title>
  </head>
  <body>
    <div class="page_head">
    <a href="/products">Home</a>
    <h1>Edit Product | <%=product.name%></h1>
    </div>
    <form class="new_form"action="/products/<%=productId%>?_method=PUT" method="POST">
      <!--  NOTE: the form is pre-populated with values for the server-->
      <input type="text" name="name" value="<%=product.name%>" placeholder="name" /><br />
      <input type="text" name="img" value="<%=product.img%>" placeholder="img (url)"/><br />
      <input type="text" name="description" value="<%=product.description%>" placeholder="description"/><br />
      <input type="text" name="price" value="<%=product.price%>" placeholder="price"/><br/>
      <input type="text" name="qty" value="<%=product.qty%>" placeholder="quantity"/><br/>
      <input type="submit" value="Submit Changes" />
    </form>
  </body>
</html>